// imported via https://github.com/JarvusInnovations/emergence-skeleton-v2-phila
// theme overrides for skeleton's _common.scss

html {
    background-color: black;
}

.site {
    &.header {
        background-color: white;
        border-color: $geyser;
        box-shadow: none;
    }

    &.footer {
        background-color: $mine-shaft;
        border: none;
        box-shadow: none;
        color: white;

        a {
            color: $bell-yellow;
        }
    }
}

.site-branding {
    .site-logo {
        vertical-align: -1.5em;
    }

    a:hover,
    a:focus {
        opacity: .6;
        text-decoration: none;
    }
}

.site-name {
    border-left: 1px solid;
    font-size: 1.625em;
    font-weight: bold;
    padding-left: 1em;
}
