.activity-status-pending {
    background-color: rgba(255, 165, 0, 0.5);
}

.activity-status-rejected {
    background-color: rgba(255, 76, 76, 0.5);
}

.activity-status-accepted {
    background-color: rgba(102, 178, 102, 0.5);
}